/* ========================================
  Efnisyfirlit FELLILISTI
  ======================================== */
.navlisti {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  vertical-align: center;

  
}
.navlisti input {
  display: none;
}

.efnis {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  transition: all .15s ease;
  position: fixed;
  bottom: 0%;
 
  width: 960px;
  text-align: center;
  

  
}
.efnis:hover {
  color: #e2351e;;
}
input:checked + .efnis  {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #9799a7;
}


.navlisti nav a:hover {
  
}
.navlisti nav {
  max-height: 0;
  overflow: hidden;
  transition: all .15s ease;
  position: fixed;
  bottom: 2em;
  max-width: 60em;
  
}
input:checked ~ nav {
  max-height: 200px;
}
.navlisti ul {
  list-style: none;
  margin: 0px 0px 0px 0;
  padding: 0px 10px;
  width: 60em;
  text-align: center;

}

 li:last-child {
   border-bottom: 0;
  
}
.navlisti a {
  color: #ffffff;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
.navlisti a:hover {
  color: #e2351e;
}

@media only screen and (min-width: 48em)   {
  .navlisti {
    display: none;
  }
}

@media only screen and (min-width: 0em) and (max-width: 48em) {
  .topnav {
    display: none;
  }
}
@media only screen  and (min-width: 48em)   {
  .topmenu {
    display: flex;
    flex-flow:   row;
    justify-content: center;
  }
}