.dagskra {
    max-width: 30em;
    height: auto;
    background:linear-gradient(yellow,red);
    color: #0c0c0c;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    
}
.dagskra h2 {
    line-height: 1.5;
}

@media only screen and (min-width: 0em) and (max-width: 37.5em) {
    .dagskra {
      max-width: 20em;
    }
  }